<h1>Add comment below</h1>
<form action="<%= comments_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="comment[post_id]" value="<%= @post_id %>">
  <textarea name="comment[content]" rows="8" cols="40"></textarea><br>
  <input type="submit" name="name" value="post me">
</form>
