h1, h2, body, article, header, nav, aside, section {
  font-family:sans-serif;
  font-style: normal;
  margin: 0;
}

ol li:nth-child(even) {
  background: lightgray;
}

input, select{
  cursor: pointer;
  outline: none;
}

input:last-child {
  background-color: lightgreen;
}

h2 + .user_review {
  border-top-style: solid;
  border-width: 1px;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(./stars.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

ul, menu, dir {
    -webkit-padding-start: 0px;
}

img {
  width: 100%;
}
