/* grid */

@media (min-width: 700px) {
  .col {
    float: left;
    /*padding: 10px;*/
    box-sizing: border-box;
  }

  .col-1-3 {
    width: 30%;
  }

  .col-2-3 {
    width: 70%;
  }


  .cf:after {
    content: "";
    clear: both;
    display: block;
  }

  .dropdown {
    display: none;
  }

}

@media (max-width: 700px) {
  .col {
    float: left;
    /*padding: 10px;*/
    box-sizing: border-box;
  }

  .col-1-3 {
    width: 100%;
  }

  .col-2-3 {
    width: 100%;
  }


  .cf:after {
    content: "";
    clear: both;
    display: block;
  }

  .navbar {
    display: none;
  }

}
